<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename = 'css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/slick.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/slick-theme.css') }}"/>
    <title>Poltava</title>
</head>
<body style="background-color:#45916B;">
   <div class="header">
            <div class="logo">
                <h1>Достопремечательности <span class="poltava">Полтавы</span></h1>
            </div>
            <div class="menu">
                <ul>
                   <li><a href="#history">История</a></li>
                   <li><a href="#presentation">Достопремечательности</a></li>
                   <li><a href="#main">Основная информация</a></li>
                   <li><a href="#maps">Карта</a></li>
                </ul>
            </div>
        </div>
    <div class="container">
        <div class="presentation">
            <div class="video">
                <!--<video id="videoPlayer" width="730" height="475">
                    <source src="video/Video.mp4" type="video/mp4">
                    <source src="video/Video.ogv" type="video/ogg">
                </video>-->
                <iframe width="560" height="315" src="https://www.youtube.com/embed/8CuDvI8WvSE" frameborder="0" allowfullscreen></iframe>
<!--<div>
    <input type="image" src="images/playButton.png" onclick="play()">
</div>-->
           <p class="par1">Полтава – важный туристический центр в Украине, привлекающий<br> 
гостей историческими достопримечательностями, уютными улочками,<br> 
живописными парками и скверами, незабываемым отдыхом.</p>
            </div>
            <div class="slider">
               <section class="regular slider">
    <div>
      <img src="{{ url_for('static', filename = 'images/slide1.png') }}">
    </div>
    <div>
       <img src="{{ url_for('static', filename = 'images/slider2.png') }}">
    </div>
    <div>
       <img src="{{ url_for('static', filename = 'images/slider3.png') }}">
    </div>
    <div>
       <img src="{{ url_for('static', filename = 'images/slide1.png') }}">
    </div>
    <div>
       <img src="{{ url_for('static', filename = 'images/slider2.png') }}">
    </div>
    <div>
      <img src="{{ url_for('static', filename = 'images/slider3.png') }}">
    </div>
  </section>

            </div>
        </div>
        <div class="history" id="history">
            <div class="upline"></div>
            <div class="h1">
                <h1>История</h1>
            </div>
            <div class="downline"></div>
            <div class="first">
                <p>В Ипатьевской летописи 1174 года впервые упоминается укрепление на реке Лтаве[8][9][10], однако не указывается его точное местонахождение[11].<br>
                </p> <p></p>
                <p>В 1240 году поселение было практически полностью разрушено во время монголо-татарского нашествия[9], и долгое время не встречались созвучные<br> названия в письменных источниках. В середине XIV века Киевское княжество, в состав которого входила и Полтава, было присоединено князем<br> Ольгердом к Великому княжеству Литовскому[11].</p>
<p></p>
                <p>В 1430 году в грамоте великого князя литовского Витовта впервые упоминается Полтава[10][9], находившаяся в это время под его властью, которую он<br> передал перешедшему на литовскую сторону ордынскому князю Александру Глинскому, который соорудил здесь крепость — деревянные укрепления<br> и земляные валы вокруг Полтавы. В 1482 году Полтава подверглась нападению крымского хана Менгли I Гирея. С 1503 года Полтава принадлежала<br> князю Михаилу Глинскому. В 1508 году она была у него отобрана польским королём Сигизмундом I за участие в антипольском восстании. Однако<br> позже всё же была возвращена семье Глинских. В 1537 году хозяином Полтавы становится зять Глинских — Байбуза[11].</p>
<p></p>
                <p>В 1569 году по Люблинской унии[9] Полтава из состава Великого княжества Литовского была передана в состав Королевства Польского[10]. В 1576 году<br> Стефан Баторий разделил всю Левобережную Украину по земству и по воинству на полки, а полки на сотни[11]. Во второй половине XVI века на<br> Полтавщине значилось около 300 селений, среди которых были города, слободы, села. На территории Полтавщины образовались большие владения<br> литовцев и поляков.</p>

                    
            </div>
            <div class="image">
                <img src="{{ url_for('static', filename = 'images/image1.png') }}">
                <img src="{{ url_for('static', filename = 'images/image2.png') }}">
                <img src="{{ url_for('static', filename = 'images/image3.png') }}">
            </div>
        </div>
        <div class="statement" id="presentation">
            <div class="headerstate">
                <h1>Достопремечательности</h1>
            </div>
            <p>Что обязательно нужно посмотреть в Полтаве:</p>
            <div class="upline"></div>
            <div class="h1">
                <h1>Иванова гора</h1>
            </div>
            <div class="downline"></div>
            <div class="first"></div>
            <div class="Ivanona">
                <img src="{{ url_for('static', filename = 'images/Ivanova.png') }}">
            </div>
            <div class="second">
                <p>Иванова гора - исторический центр Полтавы, лучшая видовая площадка города. Более 11 веков назад здесь стоял<br> детинец летописного города Лтава. Позднее была построена земляная Полтавская крепость, которая в ХVІІІ в. три<br> месяца сдерживала наступление шведов, пока не подошла армия Петра I. Обязательно полюбуйтесь из белой<br> беседки на панораму долины Ворсклы с Крестовоздвиженским монастырем на соседнем холме. Также здесь<br> находится музей Котляревского и памятник галушкам.</p>
<p></p>
                <p>Адрес: площадь Соборная</p>
            </div>
        </div>
        <div class="museum">
            <div class="upline"></div>
            <div class="h1">
                <h1>Полтавский краеведческий музей</h1>
            </div>
            <div class="downline"></div>
            <div class="museumimg">
                <img src="{{ url_for('static', filename = 'images/museum.png') }}">
            </div>
            <div class="third">
                <p>Музей размещен в бывшем здании присутственных мест губернского земства на улице Конституции,2. Построен в<br> стиле модерн с элементами украинского народного стиля (этот факт вызвал недовольство императора Николая II). В<br> 40 музейных залах и хранилищах находится более 300 тыс. экспонатов, среди которых древнеегипетская коллекция,<br> произведения античного и восточного искусства, казацкие реликвии. Также стоит обратить внимание на внутреннюю<br> роспись красивого здания.</p>
                <p></p>
                <p>Адрес: улица Конституции,2</p>
            </div>
        </div>
        <div class="pig">
            <div class="upline"></div>
            <div class="h1">
                <h1>Памятник свинье</h1>
            </div>
            <div class="downline"></div>
            <div class="pigimg">
                <img src="{{ url_for('static', filename = 'images/pig1.png') }}">
                <img src="{{ url_for('static', filename = 'images/pig2.png') }}">
            </div>
            <div class="fourth">
                <p>В городе установлены два памятника свинье. Свиноматку с поросятами можно увидеть на территории Института<br> свиноводства им.О.Квасницкого (установлен в начале 70-х), а на территории Аграрной академии можно полюбоваться<br> на мальчика и девочку, которые погоняют огромную свинью прутиком (установлен в 2002 году). На постаменте<br> последнего табличка с надписью: "Вечной кормилице украинского народа".</p>
            </div>
        </div>
        <div class="square">
            <div class="upline"></div>
            <div class="h1">
                <h1>Круглая площадь</h1>
            </div>
            <div class="downline"></div>
            <div class="squareimg">
                <img src="{{ url_for('static', filename = 'images/square.png') }}">
            </div>
            <div class="fifth">
                <p>Центральная площадь города представляет собой кольцо, посреди которого расположен Корпусный сад с<br> монументом Славы в честь 100-летия победы над шведами под Полтавой. По легенде, на этом месте Петр I<br> встречался с защитниками города. Вокруг площади в 1809-11 гг. сооружены административные здания:<br> Присутственные места (сейчас - Горсовет), Дворянское собрание (сейчас - кинотеатр им. Котляревского), Дом<br> генерал-губернатора (сейчас - Совет профсоюзов), Малороссийский почтамт (сейчас - Полтавская школа искусств),<br> Петровский кадетский корпус (до последнего времени - Высшее зенитно-ракетное училище) и др. В подземной части<br> построен современный торговый комплекс. Популярное место прогулок горожан.</p>
                <p></p>
                <p>Адрес: улица Октябрьская</p>
            </div>
        </div>
        <div class="monastery">
            <div class="upline"></div>
            <div class="h1">
                <h1>Крестовоздвиженский монастырь</h1>
            </div>
            <div class="downline"></div>
            <div class="monasteryimg">
                <img src="{{ url_for('static', filename = 'images/monastery.png') }}">
            </div>
            <div class="sixth">
                <p>Был основан в 1650 году на берегу реки Ворсклы и является единственной в Украине семиглавой церковью в стиле<br> барокко, которая сохранилась до наших дней. Во время войны со шведами здесь находилась ставка Карла XII. В<br> первой половине XX в. монастырь был закрыт и разграблен, помещения использовало НКВД в качестве тюрьмы для<br> малолетних, затем как школа-интернат. Комплекс возвращен церкви в 1991 году.</p>
                <p></p>
                <p>Адрес: улица Свердлова, 2-а</p>
            </div>
        </div>
        <div class="bank">
            <div class="upline"></div>
            <div class="h1">
                <h1>Крестьянский банк (сейчас СБУ)</h1>
            </div>
            <div class="downline"></div>
            <div class="bankimg">
                <img src="{{ url_for('static', filename = 'images/bank.png') }}">
            </div>
            <div class="seventh">
                <p>Это самое нарядное здание в городе, в котором сейчас размещается областное управление СБУ, было построено в<br> нач. XX в. для Крестьянского земельного банка, выдававшего долгосрочные ссуды крестьянам на покупку дворянских<br> земель. По праву считается одним из лучших образцов украинского модерна. Центральный вход на срезанном углу<br> здания украшен декоративным мозаичным панно с жар-птицами и скульптурами сирен. Здание пострадало в период<br> Второй мировой войны, восстановлено в 1948 году.</p>
                <p></p>
                <p>Адрес: ул. Октябрьская, 39</p>
            </div>
        </div>
        <div class="Kotlyar">
            <div class="upline"></div>
            <div class="h1">
                <h1>Музей-усадьба Котляревского</h1>
            </div>
            <div class="downline"></div>
            <div class="kotlyarimg">
                <img src="{{ url_for('static', filename = 'images/konlyarimg.png') }}">
            </div>
            <div class="eith">
                <p>Это самая настоящая украинская хатка, которая расположена на Ивановой горке. Возле хатки находится сарай,<br> амбар и колодец с журавлем, а вокруг тын с цветами.  Здание состоит из пяти небольших комнат. Вдоль кабинета<br> хозяина под потолком находится самобытный сволок, на котором кириллицей можно прочитать: "Создася дом сей во<br> имя отца и Святого Духа. Аминь. Року 1705 месяца Августа 1". В комнатах представлены немногие сохранившиеся<br> личные вещи писателя: комод, зеркало, ломбардный столик, картина; остальное убранство комнат – типологические<br> вещи, известные по воспоминаниям современников.</p>
                <p></p>
                <p>Адрес: площадь Соборная, 3</p>
            </div>
        </div>
        <div class="galyshka">
            <div class="upline"></div>
            <div class="h1">
                <h1>Памятник галушке</h1>
            </div>
            <div class="downline"></div>
        <div class="galyshkaimg">
            <img src="{{ url_for('static', filename = 'images/galyshka.png') }}">
        </div>
        <div class="nineth">
            <p>Находится достопримечательность рядом со смотровой площадкой на Ивановой горе. Открытие памятника в 2006<br> году было приурочено к дню рождения Гоголя, который воспел галушку в своих произведениях. Изначально памятник<br> установили возле Успенского кафедрального собора, но по требованию верующих со временем перенесли ближе к<br> ресторану "Иванова гора". Возле памятника ежегодно в первой декаде июня проводится Праздник полтавской<br> галушки.</p>
            <p></p>
            <p>Адрес: площадь Соборная</p>
        </div>
    </div>
    <div class="battle">
        <div class="upline"></div>
            <div class="h1">
                <h1>Поле Полтавской битвы</h1>
            </div>
            <div class="downline"></div>
            <div class="battleimg">
                <img src="{{ url_for('static', filename = 'images/battle.png') }}">
            </div>
            <div class="tenth">
                <p>Музей создан в 1909 году на поле Полтавской битвы рядом с Братской могилой русских воинов к 200-летию победы<br> русской армии над шведами. Коллекция насчитывает более восьми тысяч экспонатов: произведения искусства,<br> оружие, награды, знамена, обмундирование и снаряжение русской и шведской армий, личные вещи Петра I и его<br> сподвижников. Установлена озвученная диорама Полтавского боя. Туристам советуют брать экскурсовода, который<br> расскажет множество интересных моментов.</p>
                <p></p>
                <p>Рядом - памятник Петру I, Сампсониевская (Самсоновская) церковь (1895 г.) и братская могила русских воинов, крест<br> на могиле шведских солдат и памятник шведам от русских. Восстановлены два редута (полевые укрепления русской<br> армии), один из которых находится с противоположной стороны от трассы, а другой - неподалеку от здания музея.</p>
                <p></p>
                <p>Адрес: улица Шведская Могила, 32</p>
            </div>
    </div>
    <div class="Maria">
        <div class="upline"></div>
            <div class="h1">
                <h1>Памятник Марусе Чурай</h1>
            </div>
            <div class="downline"></div>
            <div class="Mariaimg">
                <img src="{{ url_for('static', filename = 'images/maria.png') }}">
            </div>
            <div class="eleventh">
                <p>Монумент посвящен бессмертной украинской народной песне, которую олицетворяет фигура легендарной<br> талантливой полтавской певицы. Открыт в 2006 году. По многочисленным опросам, памятник Марусе - один из<br> излюбленных монументов полтавчан. Они называют ее по современному - "девушка с мобильником" (в левой руке<br> она держит охапку зелья, а правую поднесла к лицу, словно разговаривает по телефону).</p>
                <p></p>
                <p>Адрес: Театральная площадь</p>


            </div>
    </div>
    <div class="aviation">
        <div class="upline"></div>
            <div class="h1">
                <h1>Музей дальней авиации</h1>
            </div>
            <div class="downline"></div>
            <div class="aviationimg">
                <img src="{{ url_for('static', filename = 'images/aviation.png') }}">
            </div>
            <div class="twelveth">
                <p>Музей находится на территории Полтавского военного аэродрома, где в советские времена базировалась 13-я<br> гвардейская Днепропетровско-Будапештская ордена Суворова тяжелая бомбардировочная авиационная дивизия. В<br> ее составе было 18 дальних сверхзвуковых ракетоносцев-бомбардировщиков Ту-22М3 (Backfire), 6 дальних<br> реактивных ракетоносцев-бомбардировщиков Ту-16 (Badger) и другая техника. После распада СССР дивизия была<br> расформирована.</p>
                <p></p>
                <p>Согласно украинско-американскому Соглашению о ликвидации стратегических ядерных вооружений, в феврале 2006<br> г. на полтавском военном аэродроме разрезали последний бомбардировщик ТУ-22М3. Для музейной экспозиции<br> было сохранено 2 самолета, еще несколько привезли из других городов. В частности, самый большой в мире<br> стратегический бомбардировщик ТУ-160 - единственный оставшийся в Украине. Сейчас он является главной<br> достопримечательностью музея. Другие экспонаты: Су-15, Ту-95МС, Ту-22КД, Ту-134УБЛ, Ту-22М2, Ту-22М3, Ту-16,<br> Ан-26. Всего 9 машин.</p>
                <p></p>
                <p>Адрес: ул. П. Юрченко</p>
            </div>
      </div>
      <div class="defence">
          <div class="upline"></div>
            <div class="h1">
                <h1>Памятник защитникам Полтавы</h1>
            </div>
            <div class="downline"></div>
            <div class="defenceimg">
                <img src="{{ url_for('static', filename = 'images/defence.png') }}">
            </div>
            <div class="thirtenth">
                <p>Памятник установлен в 1909 году на месте Мазуровских ворот Полтавской крепости в память об обороне города<br> накануне Полтавской битвы 1709 года. В течение 3 месяцев крепость выдерживала осаду шведской армии Карла XII<br> до подхода основных сил русской армии под командованием Петра I. Обороной руководил комендант Полтавской<br> крепости полковник А. Келин, получивший за это звание генерал-майора.</p>
                <p></p>
                <p>Адрес: проспект Первомайский, 18</p>
            </div>
      </div>
       <div class="main" id="main">
                <h1>Основная информация</h1>
            </div>
            <div class="maininfo">
        <div class="maps" id="maps">
            <img src="{{ url_for('static', filename = 'images/maps.png')}}">
        </div>
        <div class="info">
            <p>Країна	Україна Ук</p>
<p>Регіон	Полтавська область Полтавська область</p>
<p>Район	Полтавська міськрада</p>
<p>Код КОАТУУ	5310100000</p>
<p>Засноване	899 року</p>
<p>Статус міста	з 1174 року</p>
<p>Поділ міста	3 райони</p>
<p>Населення	▼ 292 747 (01.09.2016) [1]</p>
<p>Агломерація	Полтавська агломерація</p>
<p>Площа	103,0 км²</p>
<p>Густота населення	2842 осіб/км²</p>
<p></p>
<p>Телефонний код	+380-532(2)</p>
<p>Координати	49°35′22″ пн. ш. 34°33′04″ сх. д.Координати: 49°35′22″ пн. ш. 34°33′04″ сх. д.</p>
<p>Висота над рівнем моря	156 м</p>
<p>Водойма	р. Ворскла , р. Тарапунька</p>
<p>Назва мешканців	полтавець, полтавка, полтавці</p>
<p>День міста	23 вересня</p>
<p>Відстань</p>
<p>Найближча залізнична станція	Полтава-Південна, Полтава-Київська</p>
                </div>
        </div>
        <div class="prapor">
            <p>Прапора міста Полтава складається з двох горизонтальних смуг в<br> співвідношенні один до одного. Верхня смуга білого кольору символізує<br> гідність, духовність, щирість, чистоту і справедливість. Нижня смуга<br> синьо-зеленого кольору позначає віру, надію, щастя і впевненість у боротьбі за<br> свободу. На полотнище прапора розміщується композиція<br> елементів герба міста складається з золотого лука, тятива якого натягнута<br> стрілою, вістрям вниз. Вінчають композицію золота напис «ПОЛТАВА» і<br> чотири золоті охоронні шестикутні козацькі зірки. Стріла є композиційною<br> віссю зображення і розташована від древка на відстані 1/3 довжини прапора.<br> Співвідношення сторін прапора дорівнює 1: 2.</p>
        </div>
    </div>
   <script src="{{ url_for ('static', filename ='js/jq.js') }}" type="text/javascript"></script>
  <script src="{{ url_for ('static', filename ='js/slick.js') }}" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
    $(document).on('ready', function() {
      $(".regular").slick({
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 1,
          autoplay:true,
          vertical:true,
          arrow:true

      });
      
    });
  </script>
</body>
</html>